---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
import Layout from '@layouts/PrintoutLayout.astro';

//Content Components

---

<Layout 
	title="Index"
	heading="XYZ Building Preview"
>
	
	<section class="markerSection">
		
		<img src="/markers/grovery-holiday-marker-v2.jpg"/>
		
	</section>

	
	

</Layout>


<style lang="scss">
	.markerSection{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 100%;
			max-width: 85vh;
		}
	}
</style>