---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
	import Layout from '@layouts/Layout.astro';

//Content Components
	//import MasterComponent from '@components/MasterComponent.astro';
	import LinkCard from '@components/contentComponents/LinkCard.astro';
	// SplitLayout from '@components/contentLayouts/SplitLayout.astro';
	import FooterNotice from '@components/contentComponents/FooterNotice.astro';
	import SiteQRCodeLink from '@components/contentComponents/SiteQRCodeLink.astro';
	//import DisplayBits from '@components/DisplayBits.astro';

//Site Data
	const siteData = await import("src/data/siteData.json");
---

<Layout 
	title={siteData.projectName}
	heading={siteData.projectName}
>
	
	<section>
		<h2 class="text-size-3">Links</h2>
		<div class="card-grid">
			<LinkCard
				name="General Marker Template"
				description="Marker-based Augmented Reality Experience template. Contains the most up-to-date code for working with this project. Includes green-screen video support."
				link="/general-marker-template"
			/>	
			<LinkCard
				name="Interactive Marker Template"
				description="Interactive/clickable 3D assets"
				link="/interactive-marker-template"
			/>	
			<!-- <LinkCard
				name="Grovery Holiday Card 2024"
				description="Augmented Reality Holiday Card"
				link="/grovery-holiday-ar"
			/>	 -->

			<!-- <LinkCard
				name="Video Test"
				description="v1 Basic Video Test."
				link="/video-test"
			/> -->	

			<LinkCard
				name="Green Screen Video Test"
				description="Video Test with Green Screen and 'targetFound'/'targetLost' events."
				link="/greenscreen-test"
			/>	

			<LinkCard
				name="Deliverator Gif Card"
				description="Augmented Reality Gif"
				link="/deliverator"
			/>	
		</div>
		
	</section>

	<SiteQRCodeLink/>
	<FooterNotice/>

</Layout>


<style>
	.card-grid{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
</style>
